.faq {
    margin-top: 4vh;
    margin-left: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    width: 260px;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.faq h3 {
    margin-top: 0;
    font-size: 18px;
    color: #1d4ed8;
}

.faq-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-item {
    margin-bottom: 22px;
}

.faq-question {
    cursor: pointer;
    font-weight: bold;

}

.faq-answer {
    margin-top: 4px;

    color: #555555;
}

@media (max-width: 1660px) {
    .faq {
        margin-left: 0;
        left: 0%;
        width: 80%;
        font-size: 12px;

    }
    .faq h3 {
        font-size :16px
    }

}

@media (max-width: 1200px) {
    .faq {
        font-size: 10px;

    }
    .faq h3 {
        font-size :14px
    }

}