.message-in-chat {
    border: 2px solid #d1d5db;
    color: #111827;
    border-radius: 30px;
    overflow-x: hidden;
    background: white;
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 23%;
    padding-bottom: 15px;
    padding-left: 5px;
    font-family: 'Gilroy-light', sans-serif;
    font-size: 25px;
    width: 50%;
    height: 112px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 10;
}
.geopositions-icons {
    z-index:15;
    left: 67%;
    bottom: 15px;
    position: fixed;

}

.message-in-chat:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.2);
}

.button-cleaning {
    display: none;
}

@media (max-width: 700px) {
    .message-in-chat {
        margin-top: 0px;
        position: fixed;
        height: 10vh;
        left: 0;
        width: 100%;
        padding-bottom: 0px;

    }

    .chat-container {
        max-height: 70%;
        width: 100%;
    }


}

.chat-container {
    top: 0px;
    position: relative;
    overflow-x: hidden;
    flex: 1;
    padding-bottom: 120px;
    overflow-y: auto;
    max-height: 68vh;
}

.chat-container::-webkit-scrollbar {
    display: none;
}


.size-messages {
    width: auto;
}


.icon-button {
    margin-left: 13px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.send-button-indialog {
    background-color: #007bff;
    color: white;
}

.clear-button {
    background-color: black;
    opacity: 90%;
    color: white;
}
