.first-user-message {
    background-color: #E8E8E8;
    padding-bottom: 40px;
    padding-left: 5px;
    font-family: 'Gilroy-light', sans-serif;
    font-size: 25px;
    margin-top: 50px;
    width: 650px;
    height: 130px;
    border-radius: 20px;
    box-sizing: border-box;
}

.first-user-message::placeholder {
    opacity: 70%;
    color: black;
    text-align: center;
    font-family: "Gilroy-light", sans-serif;
    font-size: 23px;
}
.line1 {
    position: fixed;
    top: 5px;
    right: 220px;
}

.line2 {
    position: fixed;
    left: 450px;
    top: 60%;
}

.card1 {
    transform-origin: center center;
    transition: transform 0.3s ease;
    position: absolute;
    right: 0%;
    top: 12%;
}

.card2 {
    transform-origin: center center;
    transition: transform 0.3s ease;
    position: absolute;
    right: 0px;
    top: 450px
}

.card3 {
    transform-origin: center center;
    transition: transform 0.3s ease;
    position: absolute;
    left: 0px;
    top: 185px
}


.card4 {
    transform-origin: center center;
    transition: transform 0.3s ease;
    position: absolute;
    left: 0px;
    top: 490px
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    transform: scale(1.1) rotate(-15deg);
}
.txt-on-main {
    font-weight: 100;
    opacity: 70%;
}
