html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.Header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-color: rgba(216, 236, 255, 0.2)
}

.nav-menu {
    font-family: "Gilroy", sans-serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    padding: 0px 60px;
    gap: 20px
}

.nav-menu a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 80%;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}


.nav-menu a:hover {
    color: blue;
}

.App-main {
    overflow: hidden;
    min-height: 100vh;
    padding-top: 300px;
    text-align: center;
    font-family: 'Gilroy-light', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 0;
    font-size: 50px;
}

.txt {
    opacity: 80%;

}

.forma {
    background-color: #E8E8E8;
    padding-bottom: 40px;
    padding-left: 5px;
    font-family: 'Gilroy-light', sans-serif;
    font-size: 25px;
    margin-top: 50px;
    width: 650px;
    height: 130px;
    border-radius: 20px;
    box-sizing: border-box;
}

.forma::placeholder {
    color: black;
    text-align: center;
    font-family: "Gilroy-light", sans-serif;
    font-size: 23px;
}

.user {
    text-align: right;
    font-family: "Gilroy-light", sans-serif;
    padding-top: 50px;
    padding-right: 26%;
    font-size: 21px;
}

.bot {
    padding-top: 5%;
    font-family: "Gilroy-light", sans-serif;
    padding-left: 30%;
    font-size: 21px;
    gap: 20px;
}

.forma2 {
    overflow-x: hidden;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 30%;
    padding-bottom: 40px;
    padding-left: 5px;
    font-family: 'Gilroy-light', sans-serif;
    font-size: 25px;
    width: 850px;
    height: 100px;
    border-radius: 15px;
    box-sizing: border-box;
    z-index: 10;

}

.textbot {
    bottom: 0px;
    text-align: center;
    position: fixed;
    font-family: 'Gilroy-light', sans-serif;
}

.chat-container {
    overflow-x: hidden;
    flex: 1;
    padding-bottom: 120px;
    overflow-y: auto;
    max-height: 75vh;
}

.button {
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.button:active {
    background-color: #004494;
    transform: scale(0.98);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

