
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}


.App-main {
    overflow: hidden;
    min-height: 100vh;
    padding-top: 300px;
    text-align: center;
    font-family: 'Gilroy-light', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 0;
    font-size: 50px;
}


.textbot {
    bottom: 0px;
    text-align: center;
    position: fixed;
    font-family: 'Gilroy-light', sans-serif;
}

.button {
    margin-top: 5px;
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.button:active {
    background-color: #004494;
    transform: scale(0.98);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.row1, .row3 {
    margin-top: 2px;
    width: 20%;
    height: 100%;
}

.row1 {
    position: absolute;
}

.row2 {
    margin-top: 2px;
    position: absolute;
    left: 20%;
    width: 60%;
    height: 70%;
}

.row3 {
    position: absolute;
    left: 75%;
    margin-left: 7%;
}

.text-for-left {
    font-family: 'Extra-light', sans-serif;
    text-align: center;
    color: #1d4ed8;
    font-size: 40px;
    opacity: 90%;
}

@media (max-width: 700px) {
    .row3 {
        display: none;
    }

    .row1 {
        display: none;
    }

    .row2 {
        left:0%;
        width: 100%;
        height: 70%;
    }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
