.Header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-color: rgba(216, 236, 255, 0.2)
}

.nav-menu {
    z-index: 6;
    font-family: "Gilroy", sans-serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    padding: 0px 60px;
    gap: 20px
}
.img-gazprom {
    width: 290px;
    height: 61px
}
.nav-menu a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 80%;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}


.nav-menu a:hover {
    color: blue;
}



@media (max-width: 1048px) {
    .img-gazprom {
        width: 230px;
        height: 53px;
    }
    .nav-menu {
        padding: 8px 27px;
        gap:16px;
        font-size: 14px;
    }

}
@media (max-width: 700px) {
    .nav-menu {
        padding: 6px 25px;
        gap: 16px;
        font-size: 11px;
    }
    .img-gazprom {
        width: 198px;
        height: 50px;
    }

}
