.Header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-color: rgba(216, 236, 255, 0.2)
}

.nav-menu {
    font-family: "Gilroy", sans-serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    padding: 0px 60px;
    gap: 20px

}

.nav-menu a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 80%;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}


.nav-menu a:hover {
    color: blue;
}

.App-main {
    min-height: 100vh;
    padding-top: 300px;
    text-align: center;
    font-family: 'Gilroy-light', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 0;
    font-size: 50px;



}

.txt {
    opacity: 80%;

}

.forma {
    padding-bottom: 40px;
    padding-left: 5px;
    font-family: 'Gilroy-light', sans-serif;
    font-size: 25px;
    margin-top: 45px;
    width: 700px;
    height: 130px;
    border-radius: 20px;
    box-sizing: border-box;
}

.forma::placeholder {
    color: black;
    text-align: left;
    font-family: "Gilroy-light", sans-serif;
    font-size: 23px;
}